[SddmGreeterTheme]
Name=sddm-astronaut-theme
Description=sddm-astronaut-theme
Author=keyitdev
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/Keyitdev/sddm-astronaut-theme
Screenshot=Previews/preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=sddm-astronaut-theme
Theme-API=2.0
QtVersion=6
